body {
    background-color: aqua;
}



h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
    text-align: center;
    color: black;
}
button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20pc;
    background-color: pink;
    border: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
    width: 100%;
    
}