body {
    background-color: aqua;
}



h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color: black;
}
.botão {
    display: grid;
    place-items: center;
    height: 25vh;
}
button {
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: aquamarine;
    font-size: small;
    text-align: center;
    padding: 20px 30px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    
}